@import './partials/variabels';
@import './partials/mixins';
@import './partials/general';
@import './partials/typography';
@import './partials/grid';
@import './partials/btn';
@import './partials/navigation';
@import './partials/hero';
main {
    .section{
        margin-block: 7rem;
    }
}
.logos{
    text-align: center;
    &__images{
        display: flex;
        justify-content: space-around;
    }
    img{
         width:15%;
        margin-left: 2rem;
    }
}

