@import './partials/variabels';
@import './partials/mixins';
@import './partials/general';
@import './partials/typography';
@import './partials/grid';
@import './partials/btn';
@import './partials/navigation';
@import './partials/hero';
@import './partials/logos';
@import './partials/steps';
@import './partials/cards';
@import './partials/testimonial';
@import './partials/pricing';
@import './partials/showcase';
main {
    .section{
        margin-block: 7rem;
    }
}

