@import './partials/variabels';
@import './partials/mixins';
@import './partials/general';
@import './partials/typography';
@import './partials/grid';
@import './partials/btn';
@import './partials/navigation';
@import './partials/hero';
@import './partials/logos';
@import './partials/steps';
@import './partials/cards';
@import './partials/testimonial';
@import './partials/pricing';
@import './partials/showcase';
@import './partials/signUp';
main {
    .section{
        margin-block: 7rem;
    }
}


.footer{
    padding-inline: 0.5rem !important;
    &__list{
        & :first-child{
            font-weight: bold;
            margin-bottom: 3rem;
        }
        li{
            margin-block: 1.5rem;
            font-size: 1.4rem;
            color: $textColor;
            text-transform: capitalize;
            cursor: pointer;
            transition:  0.7s;
            &:hover{
                color: rgb(44, 37, 37);
            }
        }
        img{
            height: 2rem;
        }
    }

   .social-media{
       display: flex;
       img{
           margin-inline: 10px;
           cursor: pointer;
           transition: transform 0.5s ease-out;
           &:hover{
               transform: scale(1.5);
           }
       }
   }
   .logo{
       margin-bottom: 0;
       position: relative;
       top: 1.7rem;
   }
   .copyright-text{
     font-weight:400;
   }
   .social-list{
       @include tablette{
           grid-area: 1/1/1/2;
       }
   }

   & :last-child{
       grid-area:1/2/1/3 ;
       li{
          margin-bottom: 3rem;
       }
   }

 
}