@include tablette{
    .grid{
        display: grid;
       gap: 1rem;
    }
    .grid--cls2-lg{
        grid-template-columns: repeat(2,1fr);
    }
    .grid--cls2{
        grid-template-columns: repeat(2,1fr);
        @include desktop{
            grid-template-rows: 540px;
        }
    }
    .grid--cls3{
        grid-template-columns: repeat(2,1fr);
        @include desktop{
            grid-template-columns: 1fr 1fr 1fr;
        }   
    }
}
 @include tablette{
 .grid-md{
     display: grid;
     gap: 1rem;
 }
     .grid--cls2-md{
         grid-template-columns: repeat(2,1fr);
        //  @include desktop{
        //      grid-template-rows: repeat(2,300px);
        //  }
     }
    }

    // small grid starting from mobile all the way to desktop
    .grid--cls4-sm{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 1fr 1fr 1fr;
            @include tablette{
                grid-template-columns: repeat(6,1fr);
                grid-template-rows: 1fr 1fr;
            }
            @include desktop{
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat(6,1fr);
                @include desktopLarge{
                    grid-template-columns: repeat(3,1fr);
                    grid-template-rows: repeat(4,1fr);
                }
            }
    }


    @include desktop{
        .gridLg{
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 2rem;
        }
    }

    @include tablette{
        .grid--cls4{
            display: grid;
            column-gap: 2rem;
            grid-template-columns: repeat(4,1fr);
        }
    }

    // footer grid

    .footer-grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        @include tablette{
            grid-template-columns: repeat(5,1fr);
            grid-template-rows: 1fr;
        }
    }