header{
    background:$desaturated-orange;
    overflow: hidden;
}

.hero{
   
    &__text{
        margin-block: 3.4rem;
       
    }
    text-align: center;
    &__btn{
        margin-left: 14px;
    }
    &__img{
        width: 100%;
        margin-top: 5rem;   
        justify-self: center;
        @include tablette{
            align-self: center;
        }
        @include desktop{
            margin-top: 0;
        }
    }
  &__title{
      @include desktopLarge{
          font-size: 6rem;
      }
  }
  &__records{
      margin-top: 4rem;
      margin-left:4rem;
     display: inline-flex;
      .record-images{
         
          img{
              border-radius: 50%;
              height: 3rem;
              margin-left: -1.7rem;
              
         
              @include desktopLarge{
              height:6rem;
              margin-left: -3rem;
              }
          }
        }
        .record-number{
            font-size: 1.3rem;
            margin-top: 10px;
         margin-left:5px;
            strong{
                color: $orange;
            }
            @include desktop{
                font-size: 1.7rem;
                margin-left: 1.5rem;
            }
        }
  }
    @include desktop{
        text-align: left;
    }
    &__content{
        align-self: center;
        @include desktopLarge{
            position: relative;
            bottom: 6rem;
        }
    }
}

