.nav{
    display: flex;
    justify-content: space-between;
    padding:3rem;
    position: relative;
    @include desktop{
        padding-inline: 5rem;
    }
    &__logo{
        height: 2.1rem;
        transform: scale(0.9);
        position: relative;
        left: -2rem;
        @include desktopLarge{
            transform: scale(1.4);
            position: relative;
            top: 1rem;
            left: 5rem;
        }
    }
    &__hamburger{
        height: 2.6rem;
       width: 2.8rem;
        @include desktop{
            display: none;
        }
    }
    // collapsible 
    &__collapsibles{
        @include desktop2{
            background-color: white;
            position: absolute;
            left:0;
            top: 0;
            width: 100vw;
            height: 100vh;
            text-align: center;
            padding-top: 9rem;
            transform: translateX(110%);
            transition: transform 0.6s;
        }
     
    }

    .showNav{
         transform: translateX(-2rem);
    }
    &__check,&__hamburger{
        cursor: pointer;
    }
    &__check{
        @include desktop{
            display: none;
        }
        height: 2.3rem;
        position: absolute;
        top: 4rem;
        right: 9.5rem;
    }
    // list
    &__list{
        @include desktop{
            display: flex;
            width: 120%;
        }
        
        li{
             margin-inline: 2rem;
            @include desktop2{
                margin-block: 4rem;
}
            a{
                color: $heading;
                font-size: 2rem;
                font-weight: bold;
                transition: color 0.3s linear;
            @include desktop{
                font-size: 1.8rem;
                font-weight: 500;
            }
            @include desktopLarge{
                font-size: 2.4rem;
            }
            }
            @include desktop{
                margin-inline: 1rem;
            }
            & a:hover{
                color: $orange;
            }
        }
        & :last-child{
            position:relative;
            top: -0.4rem;
        }
    }
}

.nav-fixed{
    @media (max-width:$tablette){
        position: fixed;
        background-color: white;
        width: 90%;
        box-shadow: 0 0 10px #ccc;
}
}