.pricing{
  
    .pricing__card{
        border: 1px solid $orange;
        padding-block: 3rem;
        border-radius: 15px;
        overflow: hidden;
        width: 90%;
        margin-inline: auto;
        margin-block: 2rem;
        @include tablette{
            width: 100%;
        }
        @include desktop{
            max-width: 50rem;
        }
         @include desktopLarge{
             max-width: 70rem;
         }
        &:first-child{
            justify-self:end;
            margin-right: 3rem;
        }
        &-header{
          p{
              font-size: 1.6rem;
          }
            .orangeText{
                font-size: 2rem;
            }
            h1{
                margin-block: 1.5rem 0;
                span{
                    font-size: 2.4rem;
                }

                @include desktop{
                    font-size: 6rem;
                }
            }
        }
        &-header,&-footer{
            margin-block: 1rem;
         text-align: center;
        }
        &-body{
            margin-block: 5rem;
            li{
            margin-block: 1.4rem;
            }
            p{
                display: inline;
                margin-left: 1rem;
            }
            img{
                height: 2.4rem;
                position: relative;
                top: 5px;
            }
        }
    }
    .card--popular{
        background-color: $desaturated-orange;
        border: 0;
        position: relative;
        .popular-badge{
            background-color: #ffd43b;
            width: 150px;
            text-align: center;
            position: absolute;
            right: -3rem;
            top: 2rem;
            height: 30px;
            transform: rotate(45deg);
            h5{
                font-size: 1.2rem;
                position: relative;
                bottom: 1rem;
                right: -0.7rem;
            }
        }
    }

    .text-footer{
        text-align: center;
        p{
            font-size: 1.6rem;
        }
    }
}
