
h1,
h2,
h3,
h4,
h5,
h6{
color: $heading;
line-height: 1;
}

h1{
    font-size: 3.5rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 2.2rem;
}

h4{
    font-size: 1.7rem;
}
p{
    font-size: 1.5rem ;
    color: $textColor;
    line-height: 1.4;
}

// styles for desktops

@include desktop{
    h1{
        font-size: 4.5rem;
    }
    h2{
        font-size: 3.6rem;
    }
    h3{
         font-size: 3rem;
    }
    h4{
        font-size: 2.5rem;
    }

    p{
        font-size: 2rem;
    }
}
@include desktopLarge{
    h1{
        font-size: 8rem !important;
    }
    h2{
        font-size: 5rem !important;
    }
    h3{
        font-size: 4rem !important;
    }
    p{
        font-size:  3rem !important;
    }
}